.auth {
    max-width: 350px;
    margin: 80px auto;
    padding: 25px;
    background: white;
    border-radius: 14px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.auth h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #6a11cb;
}

.auth input {
    width: 100%;
    padding: 10px;
    margin-bottom: 14px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.auth button {
    width: 100%;
    background: linear-gradient(90deg, #6a11cb, #2575fc);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

.auth button:hover {
    opacity: 0.9;
}